.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #897171;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.item-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
    padding-left: 10px;
}

.checkout-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 4rem;
}

.checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 4rem;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
    color: rgb(98, 98, 137);
}

.center-container > div {
    width: 100%;
}