.header {
  background-color: rgb(54, 116, 26);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 20px;
}

.header .logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo .logo-icon {
  margin-right: 10px;
}

.header .welcome-message {
  margin: 0;
  margin-right: 20px;
  font-size: x-large;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #ccc;
}
